extends layouts/login-layout.pug

block content
    .loginContainer
        h1 Bienvenido
        form(method="post")

            p.errorMessage #{errorMessage}

            input(type="text", name="logUsername", placeholder="Usuario o correo", value=logUsername required="")
            input(type="password", name="logPassword", placeholder="Contraseña", required="")

            //input(type="text", name="logUsername", placeholder="Usuario o correo", value="" required="")
            //input(type="password", name="logPassword", placeholder="Contraseña", value="" required="")

            input(type="submit", value="Ingresar")
        a(href="/register") Regístrate aquí.